<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Detail</title>
  </head>

  <body>
    <!-- Navigation -->

    <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>Online shoping</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/listproduct" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
          </ul>

          <div class="icons d-flex " style="justify-content: center; align-items: center;">
            <div class="icon">
                <input type="text" style="width: 200px; height: 35px; ">
              </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
            <a href="/profile" class="icon">
                <i class="bx bx-user"></i>
              </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>

    <!-- Product Details -->
    <section class="section product-detail">
      <div class="details container">
        <div class="left image-container">
          <div class="main">
            <img src="<%= productDetails.LINK.split(',')[0] %>" id="zoom" alt="" />
          </div>
        </div>
        <div class="right">
          <h1><%= productDetails.NAMEPRODUCT%></h1>
          <div class="price"><%= productDetails.PRICE%> VND</div>
          <form>
            <div>
              <span><i class="bx bx-chevron-down"></i></span>
            </div>
          </form>
          <form class="form">
            <input type="text" placeholder="1" />
            <a href="cart.html" class="addCart">Add To Cart</a>
          </form>
        </div>
      </div>
    </section>

    <!-- Related -->
    <section class="section featured">
      <div class="top container">
        <h1>Related Products</h1>
        <a href="#" class="view-more">View more</a>
      </div>
      <div class="product-center container">
        <% if (products && products.length > 0) { %>
          <% for (let i = 0; i < Math.min(4, products.length); i++) { %>
              <% const product = products[i]; %>
              <div class="product-item">
                  <div class="overlay">
                    <a href="productDetails.html" class="product-thumb">
                      <img src="<%= product.LINK.split(',')[0] %>" alt="" />
                    </a>
                  </div>
                  <div class="product-info">
                    <a href="productDetails.html"><%= product.NAMEPRODUCT.length> 20 ? product.NAMEPRODUCT.slice(0, 40) +
                      `...` : product.NAMEPRODUCT %></a>
                    <h4><%= product.PRICE %> VND</h4>
                  </div>
                  <ul class="icons">
                    <li><i class="bx bx-cart"></i></li>
                  </ul>
                </div>
          <% } %>
      <% } else { %>
          <p>Không có sản phẩm nào.</p>
      <% } %>
        
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>
    <!-- Custom Script -->
    <script src="./js/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
      crossorigin="anonymous"
    ></script>
    <script src="./js/zoomsl.min.js"></script>
    <script>
      $(function () {
        console.log("hello");
        $("#zoom").imagezoomsl({
          zoomrange: [4, 4],
        });
      });
    </script>
  </body>
</html>
